@import "tailwindcss";

:root {
  --background: #e9e9e9;
  --foreground: #333333;
  --link-color: #333333;
  --link-hover-color: #A10;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --link-color: #ededed;
    --link-hover-color: #f45;
  }
}

body {
  background: var(--background);
  background-image: linear-gradient(to bottom, #fff, var(--background));
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 16px;
  min-height: 100%;
  padding: 16px 0 11px;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
}

a:hover {
  color: var(--link-hover-color);
}

code,
pre {
  background-color: #E8E8E8;
  opacity: 0.75;
  font: 10px/14px Monaco, monospace;
}

pre {
  padding: 8px;
  overflow: auto;
}
